
{{!-- display this div with{{error}} if error is a valid object--}}
{{#if error}}
    <div class= "alert alert-danger">{{error}}</div>
{{/if}}

{{!-- loop through each {{text}} in errors array to display errors --}}
{{#each errors}}
    <div class = "alert alert-danger">{{text}} </div>
{{else}}

{{/each}}